---
// Component Imports
import Layout from '../layouts/main.astro'
import Hero from '../components/Hero.astro'
import Divider from '../components/Divider.astro'
import { Icon } from 'astro-icon/components'
---

<Layout title="Fairways Capital">
  <div class="h-full flex flex-col">
    <Hero />

    <div class="w-full">
      <Divider />

      <div class="container pt-24 pb-28 bg-white text-center mx-auto">
        <h1
          class="text-4xl font-bold text-center mb-8 text-slate-800 inline-block mx-auto font-serif"
        >
          Fairways Capital
        </h1>

        <a
          href="
				  mailto:contact@fairwayscapital.com"
          class="text-inherit flex items-center justify-center text-xl group"
        >
          <div
            class="flex items-center justify-center rounded-full border-2 text-slate-700 border-slate-700 group-hover:border-yellow-600 transition-colors group-hover:text-yellow-600 h-8 w-8 mr-2"
          >
            <Icon name="mdi:email" class="icon" />
          </div>
          <span
            class="group-hover:group-hover:text-yellow-600 transition-colors text-slate-700"
            >contact@fairwayscapital.com</span
          ></a
        >
      </div>

      <Divider variant="bar" />
    </div>
  </div>
</Layout>
